ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004aad;
  /* background: transparent; */
  /* border: 1px solid white; */
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  width: 2.5em;
}
.wall {
  width: 100%;
}
